.root {
  margin-bottom: 40px;
  box-shadow: none;
}

.root span,
.root img {
  border-radius: 50%;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 3px;
  border: 2px solid #f8f8f8;
}

.root h3 {
  font-size: 16px;
}

.root blockquote {
  font-style: italic;
  text-align: center;
}

.root blockquote > span {
  padding: 1px;
  border: 2px solid #e5e5e5;
  margin-bottom: 10px;
}

.root cite {
  font-weight: bold;
  color: #555;
  font-style: normal;
}

.root p {
  font-size: 14px;
  margin-top: 20px;
}

.root p::before,
.root p::after {
  content: '"';
}

.root.third {
  display: none;
}

@media screen and (min-width: 992px) {
  .root.third {
    display: block;
  }
}
