.service {
  margin-bottom: 40px;
}

.service h2 {
  font-size: 16px;
  margin-top: -40px;
  margin-left: 30px;
  text-align: left;
}

.service svg {
  margin-top: 0;
}

.service p {
  font-size: 14px;
  margin-left: 30px;
}

.service p:last-child {
  margin-bottom: 0;
}
