.customCard {
  padding: 5px 10px;
}

.customCard p {
  color: #999;
  margin: 0 0 10px;
  text-align: justify;
}

.customCard a {
  color: #000;
  margin: 10px 0;
}

.customCard h2 {
  font-size: 15px;
  text-align: left;
  margin-top: 0;
}

.item {
  margin-bottom: 40px;
}

.item img {
  padding: 5px;
  border: 2px solid #f8f8f8;
}

.item.third {
  display: none;
}

@media screen and (min-width: 992px) {
  .item.third {
    display: block;
  }
}
