.root {
  margin-bottom: 40px;
}

.root h3 {
  font-size: 15px;
  text-align: left;
  margin-top: 0;
}

.root h3 a {
  color: #000;
  margin: 10px 0;
}

.root p {
  color: #999;
  margin: 0 0 10px;
  text-align: justify;
  padding: 5px 10px;
}

.root img {
  padding: 5px;
  border: 2px solid #f8f8f8;
}

.root.third {
  display: none;
}

@media screen and (min-width: 992px) {
  .root.third {
    display: block;
  }
}
