.button {
  border: 1px solid black;
  border-radius: 4px;
  margin: 1.875rem auto;
  padding: 10px;
  font-size: 0.6875rem;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
