.avatar {
  min-width: 90px;
  min-height: 90px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.avatar span {
  border-radius: 50%;
  border: 1px solid #555;
}

.avatar span span {
  padding: 2px;
}
