.form label {
  font-weight: bold;
}

.form input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid black;
  padding: 10px;
  margin: 5px 0 20px;
}

.form button {
  float: right;
}

.form :global span.validation-error {
  color: red;
  font-size: 12px;
  position: relative;
  top: -6px;
}

.form :global span.optional {
  color: #999;
  font-size: 12px;
}
