.menu,
.progress {
  display: none;
}

.wrap {
  background: none;
  z-index: 5;
  width: 100%;
  position: fixed;
  top: 0;
}

.header {
  width: 100%;
  height: 85px;
  position: relative;
  background: rgba(255, 255, 255, 0.97);
}

.logo {
  width: 175px;
  height: 45px;
  margin-top: 20px;
  margin-left: 30px;
  display: inline-block;
}

.toggle {
  float: right;
  position: relative;
  top: 28px;
  right: 25px;
  border: 0;
}

.toggle:hover {
  cursor: pointer;
}

.toggle span {
  display: none;
}

@media screen and (min-width: 875px) {
  .toggle {
    display: none;
  }

  .header {
    padding-left: 60px;
    padding-right: 60px;
  }

  .menu {
    display: block;
    float: right;
    margin-top: 18px;
    margin-right: 30px;
  }

  .menu li {
    display: inline;
    margin-left: 20px;
  }

  .menu a {
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    box-shadow: none;
    font-weight: 600;
    color: #333;
    letter-spacing: 0.05rem;
  }

  .menu a:hover {
    color: darkblue;
  }

  .menu a::before,
  .menu a::after {
    display: inline-block;
    opacity: 0;
    transition: transform 0.2s, opacity 0.2s;
  }

  .menu a::before {
    margin-right: 10px;
    content: '{';
    transform: translateX(20px);
    color: black;
  }

  .menu a::after {
    color: black;
    margin-left: 10px;
    content: '}';
    transform: translateX(-20px);
  }

  .menu a[aria-current^="true"] {
    color: #639;
  }

  .menu a:hover::before,
  .menu a:hover::after,
  .menu a[aria-current^="true"]::before,
  .menu a[aria-current^="true"]::after {
    opacity: 1;
    transform: translateX(0);
  }

  .progress {
    display: block;
    position: absolute;
    left: 0;
    top: 2px;
    width: 100%;
    height: 0.0625rem;
    appearance: none;
    border: none;
    background-color: transparent;
    color: #639;
  }

  .progress::-webkit-progress-bar {
    background-color: transparent;
  }

  .progress::-webkit-progress-value {
    background-color: #639;
  }

  .progress::-moz-progress-bar {
    background-color: #639;
  }
}
