* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  background: #ececec;
  font-size: 0.9rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  color: #222;
}

/* Global Headings */
h1,
h2,
h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #2b2b2d;
  margin-bottom: 0.625rem;
  font-weight: 500;
}

h1,
h2 {
  font-size: 1.875rem;
  line-height: 2.1875rem;
  margin-bottom: 0;
  transition: font-size 0.5s ease;
  margin-top: 30px;
  text-shadow: 0 2px 3px #fff;
}

h3 {
  text-align: left;
  font-size: 1.1875rem;
}

@media (min-width: 48.75rem) {
  h1,
  h2 {
    font-size: 3.125rem;
    line-height: 3.4375rem;
  }
}

p {
  margin-bottom: 20px;
}

/* Global Links */
a {
  text-decoration: none;
  color: #1eaedb;
  position: relative;
}

a:active {
  top: 0.0625rem;
}

/* Global Abbreviations */
abbr[title] {
  text-decoration: none;
  border-bottom: 0.0625rem dotted;
}

abbr[title]:hover {
  cursor: help;
}

/* Grid */

.ant-row-flex div[class^='ant-col-'] {
  display: flex;
}
