.intro {
  border-left: 3px solid black;
  padding-left: 1.8rem;
  margin: 0 0 80px;
  line-height: 2rem;
}

.intro h1 {
  font: 1rem 'merriweatheritalic', Georgia, "Times New Roman", Times, serif;
  display: inline;
  font-style: italic;
  color: #000;
  text-align: left;
  text-transform: none;
  transition: font-size 0.5s ease;
}

.intro p {
  display: inline;
  text-align: left;
  font: 1rem 'merriweatheritalic', Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: #555;
  transition: font-size 0.5s ease;
}

@media (min-width: 48.75rem) {
  .intro h1 {
    font-size: 1.45rem;
  }

  .intro p {
    font-size: 1.45rem;
  }
}
