h1,
h2,
h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #2b2b2d;
  margin-bottom: 0.625rem;
  font-weight: 600;
}

h1,
h2 {
  font-size: 1.875rem;
  line-height: 2.1875rem;
  margin-bottom: 0;
  transition: font-size 0.5s ease;
  margin-top: 30px;
  text-shadow: 0 2px 3px #fff;
}

h3 {
  text-align: left;
  font-size: 1.1875rem;
}

@media (min-width: 48.75rem) {
  h1,
  h2 {
    font-size: 3.125rem;
    line-height: 3.4375rem;
  }
}

.lead {
  margin: 0.625rem 0 3.4375rem;
  color: #555;
  font: 0.9rem 'merriweather', Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-style: italic;
  transition: font-size 0.5s ease;
}

.smallLead {
  margin: 0.625rem 0 3.4375rem;
  color: #555;
  font: 0.75rem 'merriweather', Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-style: italic;
  transition: font-size 0.5s ease;
}

.smallHeader {
  font-size: 1.875rem;
  line-height: 2.1875rem;
}

.divider {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  border: none;
  margin: 0 auto;
  margin-top: 0.625rem;
}

.divider::before,
.divider::after {
  position: absolute;
  left: 0.5625rem;
  content: ' ';
  height: 1.125rem;
  width: 0.125rem;
  background-color: #ababab;
}

.divider::before {
  transform: rotate(45deg);
}

.divider::after {
  transform: rotate(-45deg);
}

@media (min-width: 48.75rem) {
  .lead {
    font-size: 1.125rem;
  }

  .smallLead {
    font-size: 0.875rem;
  }
}
